---
import FootNote from "./FootNote.astro";
---
<main class="flex flex-grow justify-between text-white px-20 py-28">
    <div class="w-1/2">
        <h1 class="font-semibold text-2xl">Library</h1>
        <p class="w-[500px] mt-2 text-lg tracking-wide ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates odit eaque sit veniam commodi, repellat soluta consequatur laboriosam?</p>
    </div>
    <div class="w-1/2 flex flex-row gap-20">
        <div>
            <h2 class="font-semibold text-xl">index</h2>
            <p class="text-lg mt-2">beranda</p>
            <p class="text-lg mt-2">profile</p>
            <p class="text-lg mt-2">fasilitas</p>
        </div>
        <div>
            <h2 class="font-semibold text-xl">Layanan</h2>
            <p class="text-lg mt-2">Katalog</p>
            <p class="text-lg mt-2">FAQ</p>
        </div>
        <div>
            <h2 class="font-semibold text-xl">Akun</h2>
            <p class="text-lg mt-2">Register</p>
            <p class="text-lg mt-2">Login</p>
            <p class="text-lg mt-2">Password</p>
        </div>
    </div>
    <FootNote/>
</main>