---

---
<main class="flex flex-grow justify-between text-white px-20 py-10">
    <div class="w-1/2">
        <h1 class="font-semibold text-2xl">Library</h1>
        <p class="w-80 mt-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates odit eaque sit veniam commodi, repellat soluta consequatur laboriosam?</p>
    </div>
    <div class="w-1/2 flex flex-row gap-20">
        <div>
            <h2 class="font-semibold text-lg">index</h2>
            <p>beranda</p>
            <p>profile</p>
            <p>fasilitas</p>
        </div>
        <div>
            <h2 class="font-semibold text-lg">Layanan</h2>
            <p>Katalog</p>
            <p>FAQ</p>
        </div>
        <div>
            <h2 class="font-semibold text-lg">Akun</h2>
            <p>Register</p>
            <p>Login</p>
            <p>Password</p>
        </div>
    </div>
</main>