---

---
<main class="bg-black text-white h-20 px-20 flex flex-row justify-between">
    <h1 class="font-[sans] font-semibold text-2xl my-auto">Library</h1>
    <div class="flex gap-8 my-auto">
        <button class="text-lg bg-slate-950 border border-s h-10 w-20 rounded-md">Login</button>
        <button class="text-lg bg-white text-black h-10 w-20 rounded-md">Register</button>
    </div>
</main>